*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/database/database.sqlite
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
# Laravel specific for static deployment
app
bootstrap
config
database
resources/views
routes
storage
tests
artisan
composer.json
composer.lock
phpunit.xml
postcss.config.js
tailwind.config.js
vite.config.js
